<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    创建别名-->
    <typeAliases>
        <package name="com.sdxb.ly"/>
    </typeAliases>
<!--   编写映射 -->
    <mappers>
        <mapper resource="com/sdxb/ly/config/sqlmap/Studentmapper.xml"/>
        <package name="com.sdxb.ly"/>
    </mappers>
    
</configuration>